<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back SocioKid</title>
    {% load staticfiles %}

       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/postsheet.css' %}" type="text/css" >

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>
<body class="backgroundcol" style=" position: relative;background: url('{% static 'images/backgroundkids.jpg' %}') no-repeat center center fixed; "
data-spy="scroll" data-target=".navbar" data-offset="50px">




<!--navbar code-->
<!-- navbar start-->
<div class="navclass">

	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	<div class="row">
	<div class="col-md-4 col-lg-4">

		<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">SocioKids</a>
    	</div>
    	</div>
    	<div class="col-md-8 col-lg-8">
    	<div class="navbar-collapse collapse " id="myNavbar">
    		<ul class="nav navbar-nav">
    			<li><a href="/post/">Add post</a></li>
    			<li><a href="#seepostsdiv">Update Posts</a></li>
    			<li><a href="#creatediv">Search Post</a></li>
                <li>{% csrf_token %}<a href="/logout/"> Logout</a></li>
    		</ul>
    	</div>
    	</div>
    	</div>
    	</div>
	</nav>
</div>

<!--nav ends here-->

<br><br>
<div class="container">

    <form action="/searchfilter/" method="POST">
    {% csrf_token %}
    <input type="text" name="searchquery" class='' placeholder="Search by name">
    <input type="submit" class="btn btn-default" value="Search">

</form>
</div>
<!--<h1>You have successfully logged in!</h1>-->
<h1>{{ abuse_msg }}</h1>
<h3>{{msg}}</h3>


<!--block to show posts starts here-->
{% for post in posts %}
<div class="postwholecontainer container" style="text-align: center;">
<div>
    <h1 style="font-family: 'Lobster', cursive;font-weight: bolder;margin: 1vh;padding: 2vh;background-color: lavenderblush;
    border-radius: 2vw;">{{ post.captions }}</h1>
    <hr />

    <div class="imageinpostcontainer container-fluid">

    <img class="img-responsive"  height="350px" width="350px" src="{{ post.image_url }}">


        <div class="postdetailcontainer">
        <div>Posted by: {{ post.user.username }}</div>
    <div>{{ post.created_on }}</div>
    <!--<span>{{post.image_url}}</span>-->
    <div>Likes: {{post.like_count}}</div>
            </div>



        <br>
     <!--like button form starts here-->

        <form method="POST" action="/like/">
          {% csrf_token %}
          <input type="hidden" name="post" value="{{ post.id }}">

           {% if post.creator_has_liked %}

            <input type="submit" class="btn btn-default" value="Unlike">

        {% else %}

            <input type="submit" class="btn btn-default" value="Like"> {{liked_msg}}

        {% endif %}
      </form>

        </div>




    <div>

        </div>

    </div>



    <div>
    <form method="POST" action="/comment/">
  {% csrf_token %}
  <input type="hidden" name="post" value="{{ post.id }}" >
  <input type="text" style="border-radius: 0.5vw; padding: 2vw; margin: 2vw; " name="comment_text" id="comment_text" placeholder="Make a comment.."
         value="{{ comment_text }}">
  <!--{{ comment_text }}-->

  <input type="submit" class="btn-default btn" value="Comment">
    </form>
</div>
    <!--adding comment form starts here-->
<div class="commentinpostcontainer container-fluid">



    <!--display comments div starts here-->

      <div>

      {% for comment in post.comments %}

        <p>
          {{ comment.user.username }}
          {{ comment.created_on }}: {{ comment.comment_text }}
        </p>

          <form method="POST" action="/upvote/">
              {% csrf_token %}

              <input type="hidden" name="id" value="{{ comment.id }}">

              <input type="submit" class="btn btn-default" value="Upvote">

          </form><span>Upvotes: {{comment.upvote_num}}</span>
        <hr />
      {% endfor %}
</div>
      </div>
</div>
 <hr />
  {% endfor %}


</body>
</html>