<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>SocioKids</title>

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="{% static 'css/sheet1.css' %}" type="text/css" >


</head>
<body class="backgroundcol" style="background: url('{% static 'images/backgroundkids.jpg' %}') no-repeat center center fixed; ">


<div class="container centercon borders">
     <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form }}
         <br>
         <br>
         <div class="container-fluid">
       <input type="submit" class="btn btn-default" value="Add a picture">
         </div>

     </form>
</div>
</body>
</html>