<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SocioKid</title>
    {% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/sheet1.css' %}" type="text/css" >


<script src="{% static 'js/js1.css' %}"></script>
</head>
<body class="backgroundcol" style="background: url('{% static 'images/backgroundkids.jpg' %}') no-repeat center center fixed; ">
    Successfully signed up {{name}}! Please continue to login!
    <form action="login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>